= link_to 'New Message', new_message_path

%table.table.table-bordered.table-condensed
  %tr
    %th Текст
    %th K

  - @messages.each do |message|
    %tr
      %td
        %a{href: ('/dialogs?dialog=' + message.try(:dialog_id).to_s) }= message.text
      %td
        = message.k
        = link_to 'Show', message.dialog
        = link_to 'Edit', edit_message_path(message)
        = link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @messages
