%h1 Listing messages

%table.table.table-bordered.table-condensed
  %tr
    %th Автор
    %th Текст
    %th K
    %th Диалог
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.author
      %td= message.text
      %td= message.k
      %td= link_to 'Show', message.dialog
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
