- if current_user
  = link_to destroy_user_session_path, method: 'delete', class: 'btn btn-default' do
    Выход

.row
  .col-lg-8.col-md-9.col-sm-12
    = render 'templates/slider'
    %hr
    = render 'templates/catalog'
    %hr
    = render 'templates/reviews'
  .col-lg-4.col-md-3.col-sm-12
    = render 'templates/chat'
