%h1
  - if @page.present?
    = @page.title
  - else
    Купить легал
  = @area.title

%hr
%strong Господа, Уважаемые
%br
перед Вами сервис, который позволит быстро купить то, что вы ищите
%hr



.row
  .col-lg-8.col-md-9.col-sm-12
    = render 'templates/slider'
    %hr
    = render 'templates/catalog'
  .col-lg-4.col-md-3.col-sm-12
    = render 'templates/chat'
    %hr
    = render 'templates/reviews'