%h1
  - if @page.present?
    = @page.title
  - else
    Купить легал
  = @area.title

%hr
%strong Господа, Уважаемые
%br
перед Вами сервис, который позволит быстро купить то, что вы ищите
%hr


.row
  .col-sm-6
    = render 'templates/catalog'
  .col-sm-6
    = render 'templates/chat'

%hr

.row
  .col-sm-4
    %h3 Готовые закладки в городе #{@area.title}
    %ul
      %li Мягкий 3гр
      %li Мягкий 3гр
      %li Мягкий 5гр
      %li Мягкий 10гр
      %li Соль 10гр
      %li Скорость 10гр
      %li MDMA 10гр
  .col-sm-4
    %h3 Отзывы
  .col-sm-4