%table.table.table-bordered.table-condensed
  %tr
    %th Вход
    %th Ip
    %th Город
    %th Страна
    %th Пришел
    %th Сообщений
    %th
    %th
    %th

  - @dialogs.each do |dialog|
    %tr
      - geo = Geocoder.search dialog.ip
      %td
        %small
          %a{href: (dialog.url_start + '?dialog=' + dialog.id)}= dialog.url_start
      - if geo[0].try(:data).present?
        %td
          %small= geo[0].data['ip']
        %td
          %small= geo[0].data['city']
        %td
          %small= geo[0].data['country_name']
      - else
        %td
        %td
        %td
      %td
        %small= dialog.created_at
      %td= dialog.messages.count
      %td= link_to 'Show', dialog
      %td= link_to 'Edit', edit_dialog_path(dialog)
      %td= link_to 'Destroy', dialog, :method => :delete, :data => { :confirm => 'Are you sure?' }


= paginate @dialogs