%h1 Listing dialogs

%table.table.table-bordered.table-condensed
  %tr
    %th Вход
    %th Ip
    %th Город
    %th Страна
    %th Пришел
    %th Сообщений
    %th
    %th
    %th

  - @dialogs.each do |dialog|
    %tr
      - geo = Geocoder.search dialog.ip
      %td
        %small
          %a{href: dialog.url_start}= dialog.url_start
      %td= geo[0].data['ip']
      %td= geo[0].data['city']
      %td= geo[0].data['country_name']
      %td= dialog.created_at
      %td= dialog.messages.count
      %td= link_to 'Show', dialog
      %td= link_to 'Edit', edit_dialog_path(dialog)
      %td= link_to 'Destroy', dialog, :method => :delete, :data => { :confirm => 'Are you sure?' }
