%table.table.table-bordered.table-condensed
  %tr
    %th Вход
    %th Пришел
    %th Сообщений
    %th
    %th
    %th

  - @dialogs.each do |dialog|
    %tr{class: ('danger' if dialog.done)}
      %td
        %small
          %a{href: (dialog.url_start.to_s + '?dialog=' + dialog.id.to_s)}= dialog.url_start
      %td
        %small= dialog.created_at
      %td= dialog.messages.count
      %td= link_to 'Show', dialog
      %td= link_to 'Edit', edit_dialog_path(dialog)
      %td= link_to 'Destroy', dialog, :method => :delete, :data => { :confirm => 'Are you sure?' }


= paginate @dialogs