%h1 Listing dialogs

%table.table.table-bordered.table-condensed
  %tr
    %th Ip
    %th Город
    %th Страна
    %th Coordinates
    %th City
    %th
    %th
    %th

  - @dialogs.each do |dialog|
    %tr
      - geo = Geocoder.search dialog.ip
      %td= geo[0].data['ip']
      %td= geo[0].data['city']
      %td= geo[0].data['country_name']
      %td= dialog.coordinates
      %td= dialog.city
      %td= link_to 'Show', dialog
      %td= link_to 'Edit', edit_dialog_path(dialog)
      %td= link_to 'Destroy', dialog, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dialog', new_dialog_path
