%p#notice= notice

%p
  %b Image:
  = @product.image
%p
  %b Title:
  = @product.title
%p
  %b Desc:
  = @product.desc
%p
  %b Price:
  = @product.price
%p
  %b Weight:
  = @product.weight
%p
  %b Avail:
  = @product.avail

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
