%h1 Listing reviews

%table.table.table-bordered.table-condensed
  %tr
    %th Author
    %th Text
    %th
    %th
    %th

  - @reviews.each do |review|
    %tr
      %td= review.author
      %td= review.text
      %td= link_to 'Show', review
      %td= link_to 'Edit', edit_review_path(review)
      %td= link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Review', new_review_path
