!!!
%html
  %head
    - if @page.present? && @area.present?
      %title= @page.title.to_s + ' ' + @area.title
    - else
      %title= "Купить спайс, соль, курительные смеси" + ((' - ' + @area.title.to_s ) if @area.present?).to_s
    %meta{content: 'Закладки, Легал, Купить спайс, Соль для ванн, Курительные смеси', name: "Keywords"}
    %meta{content: 'Проверенный магазин, отзывы клиентов, купи открытку и оставь свой отзыв следующим', name: "Description"}
    %meta{name: "google-site-verification", content: "MhLyNTyOFdTfX9SXLhP350q8Q91v6NkWOetOkujYqiU"}
    %meta{name: 'yandex-verification', content: '7c991dd0c36c87ca'}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :js
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    .container
      = yield

    -#%small
    -#  - @pages.each do |p|
    -#    %a{href: ('http://kupilegal.ru/' + @area.slug + '/' + p.slug)}= p.title + ' ' + @area.title
    = render 'templates/ya'