!!!
%html
  %head
    %title= "Купить спайс, соль, курительные смеси" + ((' - ' + @area.title.to_s ) if @area.present?).to_s
    %meta{content: 'Закладки, Легал, Купить спайс, Соль для ванн, Курительные смеси', name: "Keywords"}
    %meta{content: 'Проверенный магазин, отзывы клиентов, купи открытку и оставь свой отзыв следующим', name: "Description"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      = yield